.row {
  display: flex;
  margin-bottom: 10px
}

.config-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: padding-top 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: padding-bottom 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  overflow: hidden;
  min-width: 275px;
}

.config-panel.close {
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
}

.control-group {
  padding: 0 15px;
}

.control-group label {
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  padding: 0px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.control-group .input-control {
  border-radius: 4px;
  position: relative;
  background-color: rgb(252, 252, 251);
  border: 1px solid rgb(206, 212, 218);
  font-size: 16px;
  width: auto;
  padding: 10px 12px;
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.control-group .text-right {
  text-align: right;
}

.circle{
			width: 200px;
			height: 200px;
			border-top-left-radius : 48%;
			border-top-right-radius : 48%;
			border-bottom-left-radius : 48%;
			border-bottom-right-radius : 48%;
			position: absolute;
			background-color: black;
			border: 20px solid black;
		}

		.circle2{
			width: 200px;
			height: 200px;
			border-top-left-radius : 48%;
			border-top-right-radius : 48%;
			border-bottom-left-radius : 48%;
			border-bottom-right-radius : 48%;
			z-index: 1;
      transition: transform .1s;
		}


		.red-container .circle2 {
			background-color: rgb(255, 0, 0);
		}
		.black-container .circle2 {
			background-color: rgb(0, 0, 0);
			z-index: 3;
		}
		.blue-container .circle2 {
			background-color: rgb(0, 194, 201);
			z-index: 2;
		}

		.circle2.small {
			width: 150px;
			height: 150px;
		}
		.circle2.height {
			width: 150px;
			height: 50px;
		}
		.circle2-bis{
			top: 15px;
			left: 5px;
			width: 300px;
			height: 300px;
			border-top-left-radius : 48%;
			border-top-right-radius : 48%;
			border-bottom-left-radius : 48%;
			border-bottom-right-radius : 48%;
			position: absolute;
			border: 20px solid rgba(255,0,255,0.25);
		}

		@-webkit-keyframes rotating2 {
				0%{
						transform: rotate(0deg);
				}
				100%{
						transform: rotate(-360deg);
				}
		}

		@-webkit-keyframes skew1 {
			0%{
				transform: skewX(0deg);
				transform: skewY(0deg);
			}
			50% {
				transform: skewX(20deg);
				transform: skewY(30deg);
			}
			100%{
				transform: skewX(0deg);
				transform: skewY(0deg);
			}
		}
		@-webkit-keyframes skew2 {
			0%{
				transform: skewX(0deg);
				transform: skewY(0deg);
			}
			50% {
				transform: skewX(20deg);
				transform: skewY(25deg);
			}
			100%{
				transform: skewX(0deg);
				transform: skewY(0deg);
			}
		}

		@-webkit-keyframes skew2-r {
			0%{
				transform: skewX(0deg);
				transform: skewY(10deg);
			}
			50% {
				transform: skewX(0deg);
				transform: skewY(-25deg);
			}
			100%{
				transform: skewX(0deg);
				transform: skewY(10deg);
			}
		}


		@-webkit-keyframes skew3 {
			0%{
				transform: skewX(0deg);
				transform: skewY(0deg);
			}
			50% {
				transform: skewX(20deg);
				transform: skewY(40deg);
			}
			100%{
				transform: skewX(0deg);
				transform: skewY(0deg);
			}
		}

		@-webkit-keyframes rotating1 {
			0%{
				transform: rotate(0deg);
			}
			100%{
				transform: rotate(360deg);
			}
		}
		@-webkit-keyframes rotating2 {
			0%{
				transform: rotate(0deg);
			}
			100%{
				transform: rotate(-360deg);
			}
		}

		@-webkit-keyframes full-rotate {
			0%{
				transform: rotate(0deg);
			}
			100%{
				transform: rotate(360deg);
			}
		}




		body {
			padding: 0;
      margin: 0;
		}

		.p-absolute {
			position: absolute;
		}

		.corners2 {

				/* animation: skew1 1s linear infinite; */
		}

		.corners3 {

				/* animation: skew2 1s linear infinite; */
		}
		.corners4 {

				/* animation: skew3 1s linear infinite; */
		}

		.corners3.inverted {
				/* animation: skew2-r 1s linear infinite; */
		}

		.rotate-90 {
			transform: rotate(90deg)
		}
		.red-circle {
			width: 205px;
			height: 205px;
			border-radius: 205px;
			background-color: red;
		}
		.white-circle {
			position: absolute;
			width: 200px;
			height: 200px;
			z-index: 4;
			border-radius: 200px;
			background-color: white;
			border: 3px solid black;
		}
		.container {
			position: relative;
			display: block;
			margin: 0 auto;
			height: 100%;
      width: 100%;
		}
		.red-container, .black-container, .blue-container {
			position: absolute;
			width: 200px;
			height: 200px;
			z-index: 1;

		}

		.red-container {
			animation: rotating1 14s linear infinite;
		}
		.black-container {
			animation: rotating2 18s linear infinite;
		}
		.blue-container {
			animation: rotating1 25s linear infinite;
		}


		.container {
			display: flex;
			align-items: center;
			justify-content: center;
		}
